/* Global */
:root {
    /* Vars go here */
    --ev-green: #43d96a;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: var(--ev-green);
}
a:hover:not(:has(svg, img)) {
    text-decoration: underline;
}

/* Navbar */
nav {
    padding: 1em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: black;
    width: calc(100% - 2em);
    box-shadow: 0 0 10px black;
}
nav a.current {
    color: var(--ev-green);
}
nav img {
    height: 100%;
}
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 0 1em;
    transition: all .2s ease-in-out; 
}
nav ul li:hover {
    transform: scale(1.1);
}
.pusher {
    height: 6em;
}

/* Section */
section {
    max-width: 50%;
    width: 100%;
    margin: 2em;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 1em;
    border-color: var(--ev-green);
    border-width: 1px;
    border-style: solid;
}
section img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
section h2 {
    margin: 0 1em;
    padding: 0;
    font-size: 2em;
}
section a {
    color: black;
}
section .inner-section {
    margin: 1em;
}

/* Divider */
.divider {
    margin: 3em 0;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    text-align: center;
}
.divider h1 {
    color: var(--ev-green);
}

/* Home Page */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero.L {
    height: 75vh;
}
.hero.M {
    height: 50vh;
}
.hero.S {
    height: 25vh;
}
.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}
.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-shadow: 0 0 10px black;
    text-align: center;
}
.subhero {
    max-width: 1000px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}
.subher .img-box {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: start;
}

/* Carousel */
.carousel {
    height: 20em;
    overflow: hidden;
}
.carousel .inner-section {
    display: flex;
    justify-content: start;
    align-items: center;
    animation: slide 20s linear infinite;
}
.carousel img {
    height: 20em;
    width: 20em;
    object-fit: cover;
    margin: 0 1em;
}
.carousel img:hover {
    transform: scale(1.1);
}
.carousel .inner-section:hover {
    animation-play-state: paused;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-139em);
    }
}

/* Footer */
footer {
    height: 4em;
    background-color: black;
    color: whitesmoke;
    font-size: .8em;
    text-align: center;
}
footer p {
    margin: 0;
    padding: 1em;
}
/* Social Links */
.social-links a{
    margin: 0 1em;
}